@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Domine:wght@500;600&family=Lobster&family=Yantramanav&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,400;10..48,500&family=Lobster&family=Yantramanav&display=swap");
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3), #020c1b),
    url("../../images/packground.jpg");
  width: 95dvw;
  height: 80dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-top: 6rem;
  border-radius: 0.3rem;
}
.banner h2 {
  color: #f1efe7;
  font-size: 2rem;
  font-weight: 600;
}
.banner h4,
p {
  color: #f1efe7;
}
.loyout h4 {
  font-family: "Bricolage Grotesque", sans-serif;
}
.home-quot {
  height: 7rem;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-quot p {
  color: #020c1b;
  font-family: "Domine", serif;
  font-size: 1.5rem;
  font-weight: 500;
}
.about {
  background: #f1efe7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100dvw;
  color: #020c1b;
}
.about-h4 h4 {
  color: #66645c;
  text-align: start;
}

.about-container {
  width: 65dvw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-text {
  width: 70%;
}
.about-text p {
  color: #020c1b;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Bricolage Grotesque", sans-serif;
}
.about-pic {
  width: 30%;
  height: 30rem;
  margin: 1rem;
}
.about-pic img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}
