@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,400;10..48,500&family=Lobster&family=Yantramanav&display=swap");
.navbar {
  position: fixed;
  background: #f1efe7;
  width: 100vw;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 10000;
  backdrop-filter: blur(1px);
}

.logo {
  width: 10rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 5rem;
  height: 3rem;
  border-radius: 0.5rem;
  border: #000000 1px solid;
}
.logo a {
  text-decoration: none;
}
.side-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-one {
  margin: 0.5rem;
  text-decoration: none !important;
}
.menu-one h5 {
  color: #000000;
  font-size: 1rem;
  transition: 400ms ease;
  text-decoration: none;
  font-family: "Bricolage Grotesque", sans-serif;
}
.menu-one a {
  text-decoration: none;
}
#menu-two {
  text-decoration: none;
}
.top-icon {
  display: none;
  cursor: pointer;
  backdrop-filter: blur(70px);
  background: #b23521;
  padding: 0.2rem;
  border-radius: 0.2rem;
}
.top-icon h4 {
  color: #ffffff;
  font-size: 1.2rem;
}
.menu-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .navbar {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
  }
  /* .side-bar {
      display: flex;
      flex-direction: column;
      width: 100vw;
    } */
  .top-icon {
    display: block;
    margin-top: 1rem;
  }
  .menu-items-one {
    display: flex;
    flex-direction: column;
    background: #37474f;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    height: 30vh;
    position: absolute;
    width: 10rem;
    border-radius: 0.5rem 0rem 0rem 0.5rem;
    border: 1px solid #000000;
    gap: 1rem;
    display: none;
  }
  .menu-items {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #b23521;
  }
}
